@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Dosis', sans-serif;
		font-size: 18px;
	}
}

@layer components {
	#__next {
		margin-right: calc(-1 * (100vw - 100%));
		height: 100vh;
		width: 100%;
		@apply pattern;
	}
	.pattern {
		background-color: #fdddd6;
		opacity: 1;
		background-image: radial-gradient(#e6516d 1px, transparent 1px),
			radial-gradient(#e6516d 1px, #fdddd6 1px);
		background-size: 40px 40px;
		background-position: 0 0, 20px 20px;
	}

	.btn-primary {
		@apply active:shadow-none active:translate-y-[6px] shadow-[0_6px_#9b283d]  transition-all font-bold flex justify-center items-center my-4 py-2 px-6 box-content rounded-lg bg-accent text-light shrink-0 hover-hover:hover:brightness-110 h-fit w-fit;
	}
}
